body {
    font-family: 'Roboto', sans-serif;
}

:root {
    font-size: 62.5%;
}

main {
    grid-area: content-text;
}

aside {
    grid-area: aside;
}

.container {
    display: grid;
    grid-template-areas: 
        ". aside content-text .";
}

