body {
    font: 1.6rem 'Roboto', sans-serif;
}

:root {
    font-size: 62.5%;

    /* colors */
    --red: #ff5678;
    --light-blue: #35e6e9;
    --black: #000000;
    --white: #ffffff;
}

.container {
    display: grid;
    grid-template-areas: 
        ". . . ."
        ". aside content-text ."
        ". aside content-text ."
        ". . . .";
}

main {
    grid-area: content-text;
}

main nav {
    display: flex;
    flex-flow: column;
    gap: 16px 0;
}

main nav a {
    display: block;
    text-decoration: none;
    color: var(--white);
    text-align: center;
    padding: 1.8rem 0;
}

main nav a:nth-child(2n + 1)  {
    background-color: var(--light-blue)
}
main nav a:nth-child(2n + 2) {
    background-color: var(--red)
}

main h2 {
    font-size: 3.2rem;
}
main h2 span {
    color: var(--red);
}

aside {
    grid-area: aside;
}

aside h1 {
    font-size: 6.4rem;
}
aside h1 span {
    color: var(--red)
}



