body {
    font: 1.6rem 'Roboto', sans-serif;
}

:root {
    font-size: 62.5%;

    /* colors */
    --red: #ff5678;
    --light-blue: #35e6e9;
}

main {
    grid-area: content-text;
}

aside {
    grid-area: aside;
}

.container {
    display: grid;
    grid-template-areas: 
        ". aside content-text .";
}

